//--------------------------------------------
// Colors
//--------------------------------------------

// Primary Colors
$color-primary:             Blue;
$color-secondary:           Green;

// Neutrals
$color-beige:               #f0ebe8;
$color-grey:                #5e6166;
$color-grey-light:          #919191;
$color-grey-light-very:     #e7e8e9;
$color-grey-light-super:    #f6f6f6;
$color-black: 		        #1a1b1d;
$color-black-full: 	        #000000;
$color-white: 		        rgb(255,255,255);

// Notification colors
$color-error: 			    #f95355;
$color-success: 		    #66be68;
$color-warning: 		    orange;